*.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_25600.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_50963.msh filter=lfs diff=lfs merge=lfs -text
original/2xfine.msh filter=lfs diff=lfs merge=lfs -text
original/8xfine.msh filter=lfs diff=lfs merge=lfs -text
original/coarse.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_409600.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_6400.msh filter=lfs diff=lfs merge=lfs -text
original/4xfine.msh filter=lfs diff=lfs merge=lfs -text
original/fine.msh filter=lfs diff=lfs merge=lfs -text
provided_like/8xfine.msh filter=lfs diff=lfs merge=lfs -text
provided_like/medium.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_12939.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_1638400.msh filter=lfs diff=lfs merge=lfs -text
original/medium.msh filter=lfs diff=lfs merge=lfs -text
provided_like/2xfine.msh filter=lfs diff=lfs merge=lfs -text
provided_like/coarse.msh filter=lfs diff=lfs merge=lfs -text
provided_like/fine.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_102400.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_204304.msh filter=lfs diff=lfs merge=lfs -text
halving/mesh_820383.msh filter=lfs diff=lfs merge=lfs -text
provided_like/4xfine.msh filter=lfs diff=lfs merge=lfs -text
